.custom-bg-card {
    background-image: url('images/network.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 350px;
    margin-top: 20px;
}
.terminal {
    background-color: #1a1a28;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    color: #71c6dd;
    font-size: 24px;
    white-space: wrap;
    overflow: hidden;
}

.symbol {
    color: #71c6dd;
    font-size: 2.5rem;
}

.blinking-underscore {
    animation: blinkUnderscore 0.5s step-end infinite;
}

@keyframes blinkUnderscore {
    50% {
        opacity: 0;
    }
}
#text{
    font-size: 2.5rem;
}
.cursor {
    background-color: #71c6dd;
    visibility: hidden; 
    animation: blinkCursor 1s step-end infinite;
    display: inline;
    font-size: 2.5rem;
}

@keyframes blinkCursor {
    50% {
        opacity: 0;
    }
}
article {
    --img-scale: 1.001;
    --title-color: hsl(193, 61%, 55%);
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #1a1a28;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  article a:hover{
    color: hsl(193, 61%, 75%);
  }

  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: hsl(193, 61%, 45%);
  }
  
  article a:focus {
    outline: 1px dotted hsl(193, 61%, 25%);
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: hsl(193, 61%, 85%);
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, hsl(240, 21%, 13%), hsl(240, 21%, 50%));
    min-height: 100vh;
    color: #71c6dd;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
h2{
    color:hsl(193, 61%, 55%);
}
nav,footer{
    background-image: linear-gradient(45deg, hsl(240, 21%, 13%), hsl(240, 21%, 40%));
}
.social-icons a {
  margin: 0 10px;
  font-size: 1.2rem !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
  transition: color 0.3s;
}
.nav-mid{
  display: inline-flex;
}
.nav-mid a{
  padding: 8px 16px !important;
}
.footer .copyright{
  font-size: 1.2rem;
}
.linux-card-container {
  background-color: #1a1a28; 
  border-radius: 15px; 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6); 
  padding: 30px; 
  margin: 20px auto; 
  max-width: 1100px; 
  color: #e1f6fb; 
  font-family: "Lucida Console", Courier, monospace;
}

.linux-card-container h2 {
  color: #71c6dd; 
}

.linux-card-container hr {
  border-color: #51546e; 
}

.linux-card-container p {
  color: #b2bdbd; 
  line-height: 1.6; 
}

.linux-card-container a.btn {
  background-color: #71c6dd;
  border-color: #3f4156;
  color: #1a1a28;
  font-weight: bold;
  transition: all 0.3s ease;
}

.linux-card-container a.btn:hover {
  background-color: #5dd693;
  color: #1a1a28;
  border-color: #51546e;
}

.image-shadow {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}
