/* Responsive Section*/
@media (min-width: 992px) {
    .custom-container {
        max-width: 85%;
        margin: 0 auto;
    }
}
/* Responsive ENDS */
  
  .head-section {
    background-image: linear-gradient(180deg, #c4b6fd, #93acfc);
  }
  

/* Footer */
.social-links a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.3s;
  }
  .social-links a:hover {
    color: #0056b3;
  }

  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
  }
  .social-icons a:hover {
    color: #007bff;
  }
  .footer .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  /* Footer ENDS */