.swiper {
  width: 100%;
}

.swiper-container {
  background-color: rgba(242, 242, 242, 0.49);

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.custom-slider-wrapper {
  width: 1110px;
  margin: 50px auto;
  position: relative;
  height: 400px;
  overflow: hidden;
  padding-top: 50px;
  border-radius: 15px;
}

.custom-slides {
  position: absolute;
  height: 300px;
  width: 100%;
  transition: left 0.5s ease-in-out;
  left: 0;
  border-radius: 15px;
}

.custom-slides li {
  float: left;
  margin-left: 38px;
  margin-right: 31px;
  width: 500px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px;
}

.custom-slides li:last-child {
  margin-right: 0;
}

.custom-controls {
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  cursor: pointer;
}

.custom-controls span {
  margin: 0;
}

.full-width-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px !important;
}

#custom-prev {
  margin-left: 30px;
}

@media (max-width: 767px) {

  .event-lg {
    overflow: hidden;
  }


  .full-width-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px !important;
  }

  .custom-slides li {
    float: left;
    margin-left: 38px;
    margin-right: 31px;
    width: 500px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
  }

  .custom-slider-wrapper {
    width: 1110px;
    margin: 50px auto;
    position: relative;
    height: 400px;
    overflow: hidden;
    padding-top: 0px;
    border-radius: 15px;
  }

  #events {
    height: 500px;
  }

  #custom-prev {
    top: 10rem;
  }

  #custom-next {
    margin-right: 48rem;
  }

}