      <!-- Hamburger Icon for Mobile -->
  <!-- Hamburger Icon for Mobile -->
<div class="navbar-toggle lg:hidden z-100">
    <button class="px-3 py-1 rounded-lg bg-[#00BDC5] border-none" id="mobile-menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-8 w-8 text-black">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>