/* Responsive Section*/
@media (min-width: 992px) {
    .custom-container {
        max-width: 85%;
        margin: 0 auto;
    }
}
/* Responsive ENDS */

:root {
    --primary-text-color: White ; 
    --secondary-text-color: #eeeeec;
    --font-size: 16px;
    --color-1-blue: #279eff;
    --color-1-purple: #ff3ffcd8;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
body{
    background: #110c29; 
     line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Navbabr */

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* configure vars */

:root {
  --container-width-M: 96%;
  --container-width-S: 90%;

  --header-scrolled: 960px;
  --header-scrolled-M: 720px;

  --font-primary: "Inter Tight", sans-serif;
}

header {
    width: 80%;
    /* height: 60px; */
    margin: 0 auto 80px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: all 0.3s ease-in-out;
  }
  
  .fixed-header {
    position: fixed;
    width: 70%;

  }
  
  header .navigation {    
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgb(159 66 202), 0px 15px 25px 0px rgb(0 0 0 / 0%);
    padding: 8px 8px 8px 20px;
    border: 0.5px solid #faf7f467;
    transition: all 0.8s ease-in-out;
    justify-content: space-between;

  }
  
  header .navigation .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header.fixed-header .navigation {
    border: 0.5px solid #bc28e9;
    box-shadow: 0px 1px 2px 0px rgba(214, 63, 206, 0.753);
    background: radial-gradient(
      ellipse at 50% 100px,
    );
    transition: all 0.5s linear;
  }
  
  header.nav-up {
    top: -80px;
  }
  
  header.nav-down {
    transition: all 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }
  
  header *,
  form input[type="text"] {
    transition: all 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  }
  
  footer a {
    transition: all 0.3s ease-in-out;
  }
  
  header .navigation nav ul {
    align-items: center;
    display: flex;
  }
  
  header .navigation nav ul li a {
    font-size: 18px;
    letter-spacing: 0.5px;
    color: var(--primary-text-color);
    padding: 6px 10px;
    margin: 0 5px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-family: var(--font-secondary);
    line-height: 1.2em;
  }
  
  header .navigation nav ul li a:hover {
    color: rgb(67, 164, 255);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
  }
  .main-txt{background-image: linear-gradient(20deg, var(--color-1-blue), var(--color-1-purple));
    color: transparent;
    background-clip: text; 

  }
  
.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.39);
    color: rgba(0, 0, 0, 0.836) !important;
    border-radius: 8px;
}
  

.dropdown-menu {
    display: block !important;
    opacity: 0;  
    visibility: hidden;
    position: absolute; 
    top: 100%;
    left: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
    background-color: rgba(255, 255, 255, 0.342) !important;
    color: White !important;

  }
  
  .group:hover .dropdown-menu {
    opacity: 1;     
    visibility: visible;    
    background-color: #ac23c7e3!important;
    
    transition: opacity 0.3s ease, visibility 0s 0s; 
    border: 0.5px solid #1b1b1b;
    box-shadow: 0px 1px 2px 0px rgba(214, 63, 206, 0.753);
    background: radial-gradient(
      ellipse at 50% 100px,
    );
    transition: all 0.5s linear;
    color: White !important;
  }
  
  
  
  header .navigation .cta-header,
  .optin-form button[type="submit"] {

    color: #f71dff;
    border: 2px solid #f71dff;
    border-radius: 8px;
    padding: 12px 14px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font-secondary);
    line-height: 1.2em;
    transition: all 0.3s ease-in-out;
  }
  @property --magic-rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  header .navigation .cta-header:hover,
  .optin-form button[type="submit"]:hover {
    background-color: #ff52d9;
    color: #fff;
  }
  
  header .navigation .cta-header:active,
  .optin-form button[type="submit"]:active {
    transform: scale(0.96);
  }


  
/* Hero Section */
.hero-section {
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.hero-text {
    margin: 0;
    padding: 15px;
    
}
/* Hero ENDS */





/* Carousel Section */
.carousel-image {
    width: 100%; 
    height: 700px; /* Fixed height */
    object-fit: cover;
}
/* Carousel ENDS */


/* Member Number */
.testimonials-section {
    background-color: #f8f9fa;
    color: #333;
}

.testimonial-card {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.testimonial-icon {
    color: #333; /* Icon color */
}

.testimonial-quote {
    font-style: italic;
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.testimonial-name {
    margin-top: auto; /* Push the name to the bottom */
    font-weight: bold;
    color: #333;
}
/* Member Number ENDS */





/*Location Section */
.location-section {
    background-color: #f8f9fa; /* Light grey background */
}

.location-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-icon {
    color: #333; /* Icon color */
}

.location-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.location-address {
    font-size: 16px;
    color: #555;
}
/* Location ENDS */





/* Footer */
.social-links a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.3s;
  }
  .social-links a:hover {
    color: #0056b3;
  }

  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
  }
  .social-icons a:hover {
    color: #007bff;
  }
  .footer .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  /* Footer ENDS */
