.hero-section {
    background: linear-gradient(to bottom right, #1a237e, #3949ab);
    color: white;
    padding: 100px 0;
    text-align: center;
  }
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
  }
.hero-section p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
.hero-btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
  }
.hero-btn:hover {
    background-color: #e64a19;
  }


  .about-section {
    padding: 80px 0;
    background-color: #f8f9fa;
  }
  .about-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .about-card {
    border: none;
    background: none;
    text-align: center;
  }
  .about-card .icon {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
  }
  .about-card h5 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .about-card p {
    font-size: 1rem;
    color: #6c757d;
  }

  .curriculum-section {
    padding: 80px 0;
    background-color: #f8f9fa;
  }
  .curriculum-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .technologies-section {
    padding: 80px 0;
    background-color: #f8f9fa;
  }
  .technologies-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .tech-logo {
    max-width: 100px;
    margin: 15px;
    transition: transform 0.3s;
  }
  .tech-logo:hover {
    transform: scale(1.1);
  }


  .projects-section {
    padding: 80px 0;
    background-color: #f8f9fa;
  }
  .projects-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .contact-section {
    padding: 80px 0;
    background-color: #f8f9fa;
  }
  .contact-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  .social-links a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.3s;
  }
  .social-links a:hover {
    color: #0056b3;
  }

  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
  }
  .social-icons a:hover {
    color: #007bff;
  }
  .footer .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }